// Default Styles
*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// :root{
//     --darkBlue: #0f1a3d;
//     --lightBlue: #89b0eb;
//     --lightYellow: #fdeaa5;
//     --orangeYellow: #f3c05a;
// }

.container{
    // background-image: linear-gradient(#6684AD 9%,#ADC7EB);
    background-image: linear-gradient(#5484AD 9%,#93C7EB);
    background-attachment: fixed;
    background-size: cover;
}